main img {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

main aside {
	font-size: 0.875rem;
	background-color: var(--color-gray-20);
	padding: 1rem;
	border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
	main aside {
		background-color: var(--color-gray-20);
	}
}

main blockquote {
	margin-left: 0;
	border-left: 4px black solid;
	padding-left: 1rem;
	font-size: 1rem;
}
